@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

.navbar {
    color: white;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

p {
    margin: 10px;
}

.shopify {
    position: relative;
    top: 5px;
}

.login {
    position: relative;
    left: 100px;
}

.signup {
    position: relative;
    left: 50px;
    color: greenyellow;
}

.sun {
    position: relative;
    top: 5px;
    left: 100px;
}

.logo {
    position: absolute;
    top: -5px;
    color: white;
}

a {
    position: relative;
    margin: 50px;
    left: -200px;
    top: 5px;
}

.input {
    background-color: #132A35;
    position: relative;
    border-radius: 7px;
    outline: none;
    left: 100px;
    border: none;
    height: 26px;
    color: white;
}

.glass {
    position: relative;
    left: -75px;
    top: 5px;
}

.image {
    position: relative;
    left: 300px;
}

.maindiv {
    background-color: #151D1E;
    border-radius: 20px;
    width: 1600px;
    position: absolute;
    left: 150px;
    top: 100px;
    height: 800px;
}

.green {
    border: 3px solid green;
    border-radius: 50px;
    width: 520px;
    color: white;
    position: relative;
    left: 120px;
    bottom: 700px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.green:hover {
    background-color: green;
    color: black;
}

.rightup:hover {
    color: black;
}

.title {
    color: white;
    border-bottom: 3px solid green;
    position: relative;
    text-align: start;
    width: 350px;
    bottom: 600px;
    left: 150px;
}

.compose {
    color: white;
    position: relative;
    width: 400px;
    text-align: start;
    left: 140px;
    font-size: 18px;
    bottom: 500px;
    font-family :
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "San Francisco",
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    sans-serif;
}

.explore {
    color: green;
    position: relative;
    left: -565px;
    bottom: 480px;
}

.right {
    position: relative;
    top: 20px;
    left: -10px;
}

.logos {
    border-top: 3px dotted green;
    border-bottom: 3px dotted green;
    display: flex;
    position: relative;
    width:  1600px;
    height: 200px;
    margin: 150px;
    flex-direction: row;
    top: 800px;
}

.mattel {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.allbirds {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 50px;
}

.glossier {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 50px;
}

.spanx {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 50px;
}

.staples {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 50px;
}

.coty {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 50px;
}

.klaviyo {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 50px;
}



.title2 {
    position: relative;
    top: 700px;
    left: 150px;
    text-align: start;
    color: white;
    font-size: 48px;
    border-bottom: 3px solid green;
    width: 600px;
}

.mining {
    position: absolute;
    width: 1700px;
    height: 500px;
    top: 1500px;
    left: 100px;
}

.platform {
    color: white;
    position: relative;
    width: 400px;
    text-align: start;
    left: 160px;
    top: 800px;
    font-size: 38px
    font-family
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "San Francisco",
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    sans-serif;
}

.full {
    color: white;
    position: relative;
    width: 400px;
    text-align: start;
    left: 160px;
    top: 800px;
    font-size: 38px
    font-family
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "San Francisco",
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    sans-serif;
}

.list {
    color: #BFFEB9;
    text-align: start;
    position: absolute;
    font-size: 20px;
    left: 800px;
    background: transparent;
    padding: 30px;
    top: 1500px;
}

.api {
    margin: 30px;
    border-top: 3px dotted green;
    border-bottom: 3px dotted green;
    width: 900px;
    padding: 20px;
}

.react {
    margin: 30px;
    border-bottom: 3px dotted green;
    width: 900px;
    padding: 20px;
}

.commerce {
    margin: 30px;
    border-bottom: 3px dotted green;
    width: 900px;
    padding: 20px;
}

.shopify1 {
    margin: 30px;
    border-bottom: 3px dotted green;
    width: 900px;
    padding: 20px;
}

.ready {
    margin: 30px;
    border-bottom: 3px dotted green;
    width: 900px;
    padding: 20px;
}

.ecosystem {
    margin: 30px;
    border-bottom: 3px dotted green;
    width: 900px;
    padding: 20px;
}

.maindiv3 {
    background-color: #151D1E;
    position: relative;
    border-radius: 20px;
    height: 700px;
    width: 1800px;
    top: 1200px;
    left: 50px;   
}

.best {
    color: white;
    text-align: start;
    position: absolute;
    left: 356px;
    top: 150px;
    font-size: 46px;
    border-bottom: 3px solid green;
}

.maskimage {
    position: absolute;
    width: 400px;
    top: 2300px;
    left: 400px;
    z-index: 10;
}

.testing {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 350px;
    left: 350px;
    text-align: start;
}

.build {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 450px;
    left: 350px;
    text-align: start;
}

.laptop {
    position: absolute;
    top: 150px;
    z-index: 300;
    right: 100px;
}

.div4 {
    position: relative;
    width: 1800px;
    height: 500px;
    top: 1300px;
    
}

.flex {
    color: white;
    text-align: start;
    position: absolute;
    left: 410px;
    width: 400px;
    top: 100px;
    border-bottom: 3px solid green;
}

.dotted {
    position: absolute;
    width: 800px;
    left: 400px;
}

.windows {
    position: absolute;
    display: flex;
    text-align: start;
    flex-direction: row;
    margin: 100px;
    top: 200px;
    left: 200px;
}

.design {
    background-color: #151D1E;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    color: white;
    padding: 20px;
    text-align: start;
    position: absolute;
    padding: 20px;
}

.designp{
    margin: 0;
}

.global {
    background-color: #151D1E;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    color: white;
    left: 350px;
    padding: 20px;
    text-align: start;
    position: absolute;
    padding: 20px;
}

.globalp {
    margin: 0;
}

.battle {
    background-color: #151D1E;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    color: white;
    left: 700px;
    padding: 20px;
    text-align: start;
    position: absolute;
    padding: 20px;
}

.battlep {
    margin: 0;
}

.innovation {
    background-color: #151D1E;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    color: white;
    left: 1050px;
    padding: 20px;
    text-align: start;
    position: absolute;
    padding: 20px;
}

.innovationp {
    margin: 0;
}

.div5 {
    position: absolute;
    top: 800px;
    left: 500px;
    width: 900px;
    height: 800px;
    color: white;
}

.palace {
    position: absolute;
    left: -300px;
    top: 100px;
    z-index: -1;
    width: 1600px;
}

.audience {
    text-align: start;
    border-bottom: 3px solid green;
    width: 300px;
}

.sell {
    text-align: start;
    font-size: 20px;
}

.app {
    text-align: start;
    margin-top: 20px;
    font-size: 20px;
}

.div6 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 1600px;
    margin-left: 200px;
    color: white;
}

.start {
    position: absolute;
    width: 300px;
    height: 150px;
    border: 3px solid #63F44C;
    text-align: start;
    border-radius: 10px;
    padding: 20px;
}

.custom {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 400px;
    border: 3px solid #24393D;
    text-align: start;
    background-color: #151D1E;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

p {
    margin: 0;
    padding: -10px;
}

.buildapp {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 800px;
    border: 3px solid #24393D;
    background-color: #151D1E;
    text-align: start;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.color {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1200px;
    border: 3px solid #24393D;
    background-color: #151D1E;
    text-align: start;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.join {
    position: absolute;
    width: 300px;
    top: 300px;
    height: 150px;
    left: 0;
    border: 3px solid #9DB8F7;
    text-align: start;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.chat {
    position: absolute;
    width: 300px;
    top: 300px;
    height: 150px;
    left: 400px;
    border: 3px solid #24393D;
    background-color: #151D1E;
    text-align: start;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.developer {
    position: absolute;
    width: 300px;
    top: 300px;
    height: 150px;
    left: 800px;
    border: 3px solid #24393D;
    background-color: #151D1E;
    text-align: start;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.blog {
    position: absolute;
    width: 300px;
    top: 300px;
    height: 150px;
    left: 1200px;
    border: 3px solid #24393D;
    background-color: #151D1E;
    text-align: start;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.footer {
    position: absolute;
    width: 1800px;
    height: 400px;
    top: 2300px;
    left: 50px;
    background-color: #151D1E;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    color: white;
}

.updates {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 200px;
    top: 100px;
    text-align: start;
}

.community {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 400px;
    top: 100px;
    text-align: start;
}

.events {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 600px;
    top: 100px;
    text-align: start;
}

.legal {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 750px;
    top: 100px;
    text-align: start;
}

h3 {
    margin: 10px;
}

.log {
    margin: 10px;
}

.partner {
    margin: 10px;   
}

.engi {
    margin: 10px;   
}

.ux {
    margin: 10px;   
}

.forum {
    margin: 10px;   
}

.discord {
    margin: 10px;   
}

.twitter {
    margin: 10px;   
}

.youtube {
    margin: 10px;   
}

.unite {
    margin: 10px;   
}

.meetups {
    margin: 10px;
}

.service {
    margin: 10px;
}

.appi {
    margin: 10px;
}

.privacy {
    margin: 10px;
}

.input1 {
    background: none;
    border-radius: 5px;
    outline: none;
    border: 2px solid #24393D;
    height: 40px;
    width: 300px;
    position: absolute;
    left: 1100px;
    color: white;
    top: 180px;
}

.to {
    position: absolute;
    left: 1100px;
    top: 130px;
}

.button {
    position: absolute;
    top: 180px;
    left: 1440px;
    width: 100px;
    height: 40px;
    color: white;
    background: none;
    outline: none;
    border: 2px solid #24393D;
    border-radius: 5px;
}